body {
	font-family: arial, sans-serif;
	background: #FFFFE0;
 	color: rgb(0,0,0,1);       
}




#interface {
	width: 1300px;
    height: 200px;
    background: #ffffff;
}

.p{
    position: absolute;
    margin: -20px 430px;
    text-align: center;
    color: #000000;
}

.img1{
    width: 800px;
    height: 500px;
    background: #ffffff;
    position: absolute;
    margin: 10px 250px ;
}

.fig{
    width: 100%;
    display: block;
    background-color: transparent;
    
}

.i{
    position: absolute;
    margin: 70px 900px;
    font-size: 20px;
}

.ii{
    position: absolute;
    margin: 70px 800px;
    font-size: 20px;
}


.lado{
    width: 240px;
    height: 500px;
    background:#000000;
    position: absolute;
    margin: 10px 1090px ; 
}

.rodape{
    margin: 0 auto;
    width: 1300px;
    height: 90px;
    background: #000000;
    position: absolute;
    margin: 520px -1px ; 
}

input {
    
    margin: 10px;
    width: 100px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    
    
}

.text{
    width: 197px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.foo{
    text-align: center;
}

.img2{
    position: absolute;
    margin: 20px -20px;
}

#cont{
    text-align: center;
    
}

.pro{
    position: absolute;
    margin: 10px 400px;
}

#conti{
        
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        margin: 150px 430px;
    
    }

